
@media screen and (max-width:768px){
    body{
        background-color: magenta;
        color: white;
        width: 100%;
        background-repeat: no-repeat;
       display: flex;
       flex-direction: column;
       align-items: center;
        text-align: center;
        justify-content: center;
        justify-items: center;
    }
    p{
        font-size: 100px;
    }
    h1{
        display: flex;
        margin: auto;
        text-align: center;
        font-size: 40pt;
        justify-content: center;
        margin-top: 30px;
    }
    
    h2{
        display: flex;
        margin: auto;
        text-align: center;
        font-size: 30pt;
        justify-content: center;
        margin-top: 30px;
    }
    
    img{
        width: 250px;
        height: 250px;
        border-radius: 100%;
        margin: 20px;
    }
    
    .i{
       margin-left: 300px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        justify-items: center;
        justify-content: space-around;
        align-items: center;
        
    }
    
    .img2{
    
    }
    
    .img4{
        
    }
    
    .img6{
        
    }
    
    .i2{
        flex-direction: row;
        margin-left: 50px;
        justify-content: center;
    }
    
    .i3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 520px;
    }
    
    .e1{
        margin-top: 100px;
        margin-left: 250px;
        float: left;
    }
    
    .e2{
        margin-left: 1500px;
        margin-bottom: 8000px;
        position: relative;
        bottom: 200px;
    } 
}

body{
    background-color: magenta;
    color: white;
    width: 100%;
    background-repeat: no-repeat;
     display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
    
}
p{
    font-size: 100px;
}
h1{
    display: flex;
    margin: auto;
    text-align: center;
    font-size: 40pt;
    justify-content: center;
    margin-top: 30px;
}

h2{
    display: flex;
    margin: auto;
    text-align: center;
    font-size: 30pt;
    justify-content: center;
    margin-top: 30px;
}

img{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    margin: 20px;
}

.i{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.img2{

}

.img4{
    
}

.img6{
    
}

.i2{
    display: flex;
    flex-direction:row ;
    
    
}

.i3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 520px;
}

.e1{
    position: relative;
   right: 400px;
}

.e2{
   position: relative;
   
}

